@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";

@theme {
    --font-OpenSans: "Open Sans", sans-serif;
    --color-darkBlue: #183B57;
    --color-lightGray: #d9d9d9;
}